header {
    background-color: #ffffff;
}

header .mat-toolbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header .logo{
    color:#F2A83B;
}

header .navbar-right {
    width: 100%;
}

header .navbar-right .navbar-list {
    float: right;
}

:host ::ng-deep header .mat-icon {
    color: #7E8998;
}

:host ::ng-deep header .navbar-right .navbar-list .mat-icon {
    color: #7E8998;
}

.headerboxShadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}header {
    background-color: #ffffff;
}

header .mat-toolbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header .navbar-right {
    width: 100%;
}

header .navbar-right .navbar-list {
    float: right;
}

:host ::ng-deep header .mat-icon {
    color: #7E8998;
}

:host ::ng-deep header .navbar-right .navbar-list .mat-icon {
    color: #7E8998;
}

.headerboxShadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}