<header>
    <mat-toolbar color="primary" class="mat-toolbar header">
        <mat-toolbar-row>
            <ng-content></ng-content>
            <div class="logo">
                <b>Angular - Task</b>
            </div>
            <div class="navbar-right">
                <div class="navbar-list">
                    <button mat-icon-button>
                            <mat-icon>account_circle</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>