/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p {
    Font-family: ROBOTO;
    Font-size: 14px;
    Font-weight: REGULAR;
    Line-height: 23px;
    Color: #7E8998;
}
